*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;

    background: #f8fff7 url("../image/photo-1575980202155-18b6c1e49169.avif") no-repeat fixed center center / cover
}

.home {
    height: 100vh;
    padding: 80px;
    font-size: 30px;
    color: white;
    text-align: center;
}
.home h1{
    text-shadow: 3px 0 5px gray;
}


.card-list{
    display: flex;
    gap: 20px;
}
.card{
    flex: 1;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 15px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}
